<% provide(:title, "Home") %>
<!Doctype html>

<html>

<head>

    <title><%= yield(:title) %></title>

</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <div class="custom_jumbotron">
                <div>
                    <h1>Welcome to Bugzilla</h1>
                    <p>This is the homepage for Bugzilla Test App</p>
                    <div>
                        <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary btn_signup" %>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>